#pad {height:140px;}
/* ================================================================ 
This copyright notice must be untouched at all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.cssmenus.co.uk
Copyright (c) 2009- Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */
#menu {padding:0; margin:0; list-style:none;  /*top:29px;*/height:30px; position:relative; z-index:500; font-family:arial, verdana, sans-serif;}
#menu li {float:left; margin-right:1px; border-right: 1px solid #000000;}
#menu li a {display:block; float:left; height:30px; line-height:30px; background:#EE3224; color:#FFF; text-decoration:none; font-size:12px; font-weight:bold; padding:0 30px 0 20px;}


#menu table {border-collapse:collapse; /*width:0;*/ height:0; position:absolute; top:0; left:0;}

/* Default link styling */

/* Style the list OR link hover. Depends on which browser is used */

#menu li a:hover {z-index:200; color:#fff; background-color:#c60;}
#menu li:hover {position:relative; z-index:200;}

#menu li:hover > a {color:#fff; background:#000000;}
#menu li:hover > a.sub {color:#fff; background-color:#000000;}

#menu li.current a {color:#fff; background:#000000;}

#menu li a.sub {background: #EE3224 url(down-arrow.gif) no-repeat right center;}
#menu li.current a.sub {color:#fff; background:#000000 url(down-arrow.gif) no-repeat right center;;}

#menu :hover ul {left:0; top:40px; /*width:130px;*/ background:#222;}

/* keep the 'next' level invisible by placing it off screen. */
#menu ul, 
#menu :hover ul ul {position:absolute; left:-9999px; top:-9999px; /*width:0;*/ height:0; margin:-10px; padding-left:10px; list-style:none;}

#menu :hover ul :hover ul
{left:120px; top:-1px; background:#222; white-space:nowrap; /*width:100px;*/ z-index:200; height:auto;}

#menu :hover ul li {margin:0; border-top:1px solid #666;}
#menu :hover ul li a {width:150px; padding:0; text-indent:10px; background:#EE3224; color:#FFF; height:30px; line-height:30px;}
#menu :hover ul li a.fly {background:#999999 url(right-arrow.gif) no-repeat right center;}

#menu :hover ul :hover {background-color:#000000; color:#fff;}
#menu :hover ul :hover a.fly {background-color:#000; color:#fff;}

#menu :hover ul li.currentsub a {background:#000000; color:#fff;}
#menu :hover ul li.currentsub a.fly {background:#840 url(right-arrow.gif) no-repeat right center; color:#fff;}

#menu :hover ul :hover ul li a {width:150px; padding:0; text-indent:10px; background:#3e3e3e; color:#FFF;}
#menu :hover ul :hover ul :hover {background-color:#d70; color:#fff;}

#menu :hover ul :hover ul li.currentfly a,
#menu :hover ul :hover ul li.currentfly a:hover {background:#840; color:#fff;}
