body{
color: #525252;
font-family: Arial;
padding:0;
margin:0;	
font-size:12px;
}

input[type="text"], input[type="password"], select, textarea {
    border: 1px solid #5092BD;color: #525252;
	font-size:12px;
	padding: 5px;
	font-family: Arial;
}

.help_text{
font-weight:normal !important;	
}
textarea{
	font-family:Arial;
}

#header_strip{
width:100%;
/*height:90px;*/
background:#00BB67;
position:fixed;	
top:0;
z-index:1001;
}


.site_header {
    background: none repeat scroll 0 0 #000000;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.site_menu {
    background: none repeat scroll 0 0 #EE3224;
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 1000;
}

#header_strip #header_left{
float:left;
text-align:left;
width:100%;
}

#logo{
float:left;
margin:4px 10px 1px 10px;	
}

.user_navigation{
border-left: 1px solid #4B89B2;
padding: 0 20px 0 12px;	
margin: 0;
padding: 0;
}

.menu_links{
	
   float: left;
    height: 50px;
    
    margin-top: 25px;
    padding: 0;


}
.menu_links li {
display: block;
float: left;
height: 60px;
padding-left: 10px;
    padding-right: 10px;
/*margin: 5px 5px 0 0;*/
}

.menu_links li a{
font-size:12px;
color:#000;
text-decoration:none;
/*border-radius: 5px 5px 5px 5px;
padding: 5px 15px 5px 25px;*/
}

.menu_links  li  a:hover{
background:url(images/menu_icons/home.png) no-repeat scroll 3px 5px  #4680A5;
}
.sub_headings{
    color: #525252;
font-size:12px;
    font: Arial;
    font-weight: bold;
}

.sub_headings span{
    color: #EE3224;
}


#wrapper{
width:98%;
height:40px;
position: absolute;	
top:75px;

}

#wrapper #wrapper_content{
	
 margin-top: 17px;
    padding: 10px;
	margin-bottom:180px;
	
}


#wrapper #left_info{
   border-right: 1px solid #E0E0E0;
    float: left;
    height: 100%;
    padding: 16px 0 0;
    position: fixed;
    width: 200px !important;
    word-wrap: break-word;
}

#dashboard_div{
	clear: left;
	float: left;
	width:200px;
	height:auto;
}


.dues_table td, dues_table th{
border-bottom: 1px solid #EE3224;
border-right: 1px solid #EE3224;padding:5px;
}	

.dues_table th{
border-bottom: 1px solid  #EE3224;
border-right: 1px solid  #EE3224;
background: #EE3224;
color:#fff;
text-align:left;
padding:5px;
}

.dues_table tr.dues_header_tr
{
	height:22px;
}
.dues_table tr
{
	height:34px;
}

.dues_table tr:hover 
{
	background:#EAF9EA;
}

.tablesorter th
{
	cursor:pointer;
	
}

.footer
{
	z-index:15000;
	
	width:100%;
	position:fixed;
	background:#EE3224;
	height:30px;
	color:#FFF;
	bottom:0px;	
}

.user_form [type="text"]{
	
    -moz-box-sizing: border-box;
	box-sizing: border-box;
    border: 1px solid #5092BD;
    height: 26px;
    margin: 0 0 5px;
    outline: 0 none;
    padding: 5px;
	/*padding-left: 25px;*/
	width:100%;
	font:inherit;
}
.user_form [type="password"]{
	
    -moz-box-sizing: border-box;
	box-sizing: border-box;
    border: 1px solid #5092BD;
    height: 26px;
    margin: 0 0 5px;
    outline: 0 none;
    padding: 5px;
	/*padding-left: 25px;*/
	width:100%;
	font:inherit;
}
.user_form select{
	
    -moz-box-sizing: border-box;
	box-sizing: border-box;
    border: 1px solid #5092BD;
    height: 30px;
    margin: 0 0 5px;
    outline: 0 none;
    padding: 5px;
	width:100%;
	font:inherit;
}

.user_form select option{
	padding:5px 20px;
}

.user_form textarea{
	
    -moz-box-sizing: border-box;
	box-sizing: border-box;
    border: 1px solid #999;

    margin: 0 0 5px;
    outline: 0 none;
    padding: 5px;
	padding-left: 25px;
	width:100%;
	font:inherit;
}

.themebutton.button{
	background-color : #EE3224;
	
}
.content_table {
	font-family: Arial;
	font-size: 12px;
	color: #000000;
	background:#EE3224;
	/*border:1px solid #999;*/
}


.content_table tr.table_heading{
background:#EE3224;
color:#FFF;	
}

.content_table tr{
background:#FFF;
}

#grayOut_sidebar
{
	width:400px;
	position:fixed;
	top:0px;
	right:0px;
	height:100%;
	z-index:1003;
	background:#FFF;
}

#close_div_sidebar {
	width:15px;
	height:15px;
	position:fixed;
	display:none;
	top:5px;
	right:5px;
	z-index:1004;
	background:url(../images/close.png) no-repeat #FFF;
	cursor:pointer;
}

.hidded_text{
	background:none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.new_form_table input[type="text"]{
	width:100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.new_form_table select{
	width:100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.new_form_table textarea{
	width:100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.level_name{
	font-size:16px;
	color:#EE3224;
	font-weight:bold;
}

.topic_name{
	font-size:14px;
	font-weight:bold;
}

.sob_highlight{
	background:#D1D1D1;
}

#wrapper #right_info{
	background:#FFF;
    border-left: 1px solid #E0E0E0;
    float: right;
    height: 100%;
    position: fixed;
    right: 0;
    width: 265px !important;
    word-wrap: break-word;
	top: 90px;
}

#right_info_close {
	width:15px;
	height:15px;
	position:fixed;
	display:none;
	top:5px;
	right:5px;
	z-index:1003;
	background:url(../images/close.png) no-repeat #FFF;
	cursor:pointer;
}

#suggestion_box{
	padding:20px 5px 0px 10px;
}

.legend_level{
	float:left;
	color:#EE3224;
	font-weight:bold;
	padding-right:15px;
}

.legend_topic{
	float:left;
	font-weight:bold;
	padding-right:15px;
}

.legend_sob{
	float:left;
	font-size:12px;
}

.keyword_tags{
	float:left;
	padding:3px 5px;
	border:1px solid #CCC;
	background:#ededed;
	border-radius:3px;
	margin-right:5px;
}

.keyword_tags a{
	color:#999;
	text-decoration:none;
	margin-left:5px;
}

.process_bar{
	width:100%;
	margin:15px 0px 35px 0px;
	padding: 5px 0;
	color:#FFF;
	position:relative;
	border:1px solid #C8C7C7;
}

.achieved_bar{
	background:#008800;
	/*opacity:0.7;*/
	height: 15px;
	
}

.expected_achievement{
	position:absolute;
	height:50px;
	top:-14px;
	border-right:2px solid #000000;
}

.level_legend{
    color: #000000;
    height: 20px;
    position: absolute;
    text-align: right;
    top: 40px;
	width:100%;
}

.level_display{
	font-size:14px;
}

.canvas_holder{
	/*float:left;*/
	margin:0px 20px 20px 0px;
}

/*#graph_legend{
	position:absolute;
	right:300px;
}*/

.observe_legend{
	margin:0px;
	padding:0px;
	list-style:none;
	float: right;
}

.observe_legend li{
	float:left;
}

.observe_legend li.color_box{
	width:15px;
	height:15px;
	margin:0px 5px 0px 10px;
}

.sob_expired{
	background:#FF0000;
	color:#FFFFFF;
}

.sob_expire_today{
	background:#FFA500;
	color:#FFFFFF;
}

.sob_observed{
	background:#008000;
	color:#FFFFFF;
}


#graph_legend{
	float:right;
	font-weight:bold;
}

#graph_legend ul{
	list-style: none outside none;
}

#graph_legend ul li{
float:left;
padding:5px 5px;
line-height:15px;
margin-right:10px;	
}

#graph_legend div{
float:left;
}

.legend_key{
width:15px;
height:15px;
margin-right:5px;	
}

.ideal{
background-color: #000000;	
}

.student_selected{
background-color: #008800;		
}

.other_students{
background-color: #EECA06;			
}

.clear{
	clear:both;
}


.student_individual_graph_holder{
    border: 1px solid #CCCCCC;
    padding: 20px;
    width: 510px;
}


.highlight_color{
	background:#EAEAEA !important;
}



.close_button{
	color:#666;
	text-decoration:none;
	font-size:12px;
	font-weight:bold;
}

.sob_notes{
	border-bottom:1px solid #CCC;
}

.sob_notes .note_detail{
	color:#EE3224;
}

.sob_notes small{
	color:#666;
	font-size:11px;
	display:block;
	margin-top:3px;
	float:right;
}


.page_title{
	padding:0px;
	color:#000000;
	font-size:20px;
}

#page_contents{
width:650px;	
}

.ac_results {
    padding: 0px;
    border: 1px solid #5092BD;
    background-color: white;
    overflow: hidden;
    z-index: 99999;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align:left;
}

.ac_results li {
    margin: 0px;
    padding: 8px 7px;
    cursor: default;
    display: block;

    font: menu;
    font-size: 12px;

    line-height: 16px;
    overflow: hidden;
	font:inherit;
}

.ac_loading {
    /*background: white url('indicator.gif') right center no-repeat;*/
}

.ac_odd {
    background-color: #EAEAEA;
}

.ac_over {
    background-color:  #E1E1E1;
}