@charset "utf-8";
/* CSS Document */

#grayOut_center_div {
	position:fixed;
	width:450px;
	height:auto;
	z-index:1003;
	top: 0px;
	left: 0px;
	background-color:#FFF;
	border:5px solid #EE3224;
}

#full_grayout {
	position:fixed;
	display:none;
	background-color:#FFF;
	border:5px solid #EE3224;
	z-index:1004;
}

#close_div {
	width:15px;
	height:15px;
	position:fixed;
	display:none;
	top:10px;
	right:10px;
	z-index:1004;
	background:url("../images/close.png") no-repeat #FFF;
	cursor:pointer;
}

#close_div_sidebar {
	width:15px;
	height:15px;
	position:fixed;
	display:none;
	top:5px;
	right:5px;
	z-index:1004;
	background:url(../images/close.png) no-repeat #FFF;
	cursor:pointer;
}

#grayout_close {
	width:15px;
	height:15px;
	position:fixed;
	display:none;
	top:5px;
	right:5px;
	z-index:10000;
	background:url("../images/close.png") no-repeat #FFF;
	cursor:pointer;
}

.grayout_panel td{
	/*border-bottom: 1px solid #CCC;*/
	border-right: 1px solid #CCC;
	padding:5px;
	font-size:12px;
}	

.grayout_panel th{
	border-bottom: 1px solid #EE3224;
	border-right: 1px solid #EE3224;
	background: #EE3224;
	color:#FFFFFF;
	text-align:left;
	padding:5px;font-size:12px;
}

.main_grayout_table td{
	border-right: 1px solid #CCC;
}
.main_grayout_table th{
	padding:5px;font-size:12px;
	background: #EE3224;
	color:#FFFFFF;
}
