@charset "utf-8";
/* CSS Document */


.home_dashboard_table td {
border-bottom: 1px solid #CCC;
/*border-right: 1px solid #CCC;*/
padding:5px;

}	

.home_dashboard_table th{
border-bottom: 1px solid #999999;
border-right: 1px solid #999999;
background:#999999;
color:#FFFFFF;
text-align:left;
padding:5px;
}
.home_dashboard_table
{
	font-size:12px;
}

.home_dashboard_table tr:hover{
background:#FF9;
}


.see_more_div
{
    clear: both;
    position: relative;
    right: 0;
    top: 277px;
}

.highlighted_content
{
    top: -23px;
    clear: both;
    position: relative;
    right: 0px;
}
